In [1]:
import numpy as np
import pandas as pd

import xio

In [2]:
c = xio.read_fasta("out_aln.fasta", delimiter="")
d0 = pd.DataFrame(data=c, columns=["header", "seq"])
dm = pd.read_csv("out_metadata.csv")

In [14]:
dz = pd.merge(d0, dm[["header", "numdate"]], on="header")

# Remove internal node rows
leafnames_ls = []
for nm in list(dz["header"]):
    if "NODE_" not in nm:
        leafnames_ls.append(nm)

dz = dz.loc[dz["header"].isin(leafnames_ls)]
dz["new_header"] = dz.apply(lambda row: str(row["header"]).split("|")[0]+"|"+str(row["header"]).split("|")[1]+"|"+str(row["numdate"]), axis=1)

In [17]:
xio.write_fasta("h3n2-n20.fas", dz, ["new_header"])

Wrote to file h3n2-n20.fas

In [19]:
dz[["new_header", "numdate"]].to_csv("h3n2-m.csv", index=False)

In [18]:
dz

,header,seq,numdate,new_header
2,A/Scotland/76/2003|CY088128|11/03/2_000,ATGAATCCAAATCAAAAGATAATAACAATTGGCTCTGTTTCTCTCA...,2003.840479,A/Scotland/76/2003|CY088128|2003.84047932
3,A/Denmark/107/2003|EU103941|2003|De_001,ATGAATCCAAATCAAAAGATAATAACAATTGGCTCTGTTTCTCTCA...,2003.002695,A/Denmark/107/2003|EU103941|2003.00269473
5,A/Canterbury/58/2000|CY009150|09/05_002,ATGAATCCAAATCAAAAGATAATAACGATTGGTTCTGTTTCTCTCA...,2000.681675,A/Canterbury/58/2000|CY009150|2000.68167549
7,A/New_York/182/2000|CY001279|02/18/_003,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2000.134104,A/New_York/182/2000|CY001279|2000.13410386
9,A/Mexico/InDRE940/2003|CY100628|200_004,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCCCTCA...,2003.002695,A/Mexico/InDRE940/2003|CY100628|2003.00269473
11,A/DaNang/DN434/2008|CY104616|11/11/_005,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2008.865133,A/DaNang/DN434/2008|CY104616|2008.86513347
12,A/Managua/25/2007|CY032439|06/27/20_006,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2007.487306,A/Managua/25/2007|CY032439|2007.48730636
14,A/Boston/57/2008|CY044710|02/24/200_007,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2008.150552,A/Boston/57/2008|CY044710|2008.15055249
17,A/Oregon/15/2009|GQ895004|06/25/200_008,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2009.481836,A/Oregon/15/2009|GQ895004|2009.48183602
18,A/Hong_Kong/H090_695_V10/2009|CY115_009,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2009.522904,A/Hong_Kong/H090_695_V10/2009|CY115_009|2009.5...
20,A/Minab/797/2011|KC865620|12/24/201_010,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2011.980132,A/Minab/797/2011|KC865620|2011.98013157
22,A/Peru/PER247/2011|CY162234|08/26/2_011,ATGAATCCAAATCAAAAGATAATAACAATTGGCTCTGTTTCTCTCA...,2011.651589,A/Peru/PER247/2011|CY162234|2011.65158859
25,A/Nebraska/15/2011|KC892583|12/15/2_012,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2011.955491,A/Nebraska/15/2011|KC892583|2011.95549084
26,A/Maryland/21/2011|KC892695|12/26/2_013,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2011.985607,A/Maryland/21/2011|KC892695|2011.98560728
28,A/Indiana/03/2012|KC892731|04/03/20_014,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2012.257340,A/Indiana/03/2012|KC892731|2012.2573396999999
30,A/Maryland/03/2013|KF789621|02/10/2_015,ATGAATCCAAATCAAAAGATAATAACAATTGGCTCTGTTTCTCTCA...,2013.112236,A/Maryland/03/2013|KF789621|2013.11223591
32,A/Hawaii/02/2013|KF789866|05/28/201_016,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2013.405187,A/Hawaii/02/2013|KF789866|2013.40518673
34,A/Boston/DOA2_107/2012|CY148382|11/_017,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2012.837766,A/Boston/DOA2_107/2012|CY148382|2012.83776563
35,A/New_Hampshire/12/2012|KF790252|11_018,ATGAATCCAAATCAAAAGATAATAACGATTGGCTCTGTTTCTCTCA...,2012.856931,A/New_Hampshire/12/2012|KF790252|2012.85693064