In [1]:
import numpy as np
import pandas as pd

import xio
import baltic3 as bt
import baltic3_utils as btu

In [2]:
student_tuples = [
        ('john', 'A', 15),
        ('jane', 'B', 12),
        ('dave', 'B', 10),
]

sorted(student_tuples, key=lambda q: q[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [3]:
range(1,5)

range(1, 5)