# Data Wrangling with `pandas`
`pandas` is a Python library which deals with manipulating tabular data, selecting whatever subset you wish to select, overriding some values if necessary, and so on. The basics of `pandas`, covered here, concern the very basics of previewing the data, and some simple data retrieval. 
 - Difficulty: Beginner
 - Time: 10 - 15 mins
 - Prerequisites: none
 
If you haven't installed `pandas` yet, pip install it by running on the terminal:

`pip3 install pandas`

If it turns out that you already do, then the pip-installer will just inform you.

In [1]:
import pandas as pd

## Querying your Data
The following is a bunch of frequently used commands to explore the data.

In [2]:
d0 = pd.read_csv("zikv_m.csv")

In [3]:
# How many rows and columns does your dataframe have?
print("(N_rows, n_cols) = (%s, %s)" % d0.shape)
print("")

# What are the column names?
print("Column names:")
print(d0.columns)
print("")

# What countries are there in there?
print("Countries:")
print(list(set(d0["geoloc"])))

(N_rows, n_cols) = (862, 6)

Column names:
Index(['v_nm', 'v_id', 'host', 'geoloc', 'cdate', 'seq'], dtype='object')

Countries:
['Austria', 'Cambodia', 'Panama', 'Peru', 'United_Kingdom', 'French_Polynesia', 'Central_African_Republic', 'Puerto_Rico', 'Russia', 'Nigeria', 'Suriname', 'Canada', 'Australia', 'Japan', 'Guatemala', 'Colombia', 'Venezuela', 'Mexico', 'Philippines', 'Brazil', 'Honduras', 'Taiwan', 'Nicaragua', 'Italy', 'Uganda', 'Thailand', 'Malaysia', 'El_Salvador', 'undef', 'China', 'Indonesia', 'Martinique', 'South_Korea', 'Senegal', 'Micronesia', 'Dominican_Republic', 'Singapore', 'Jamaica', 'Ecuador', 'Haiti', 'Cuba', 'USA', 'French_Guiana']

In [4]:
# Preview the first 10 rows of data. 
# If you leave the input parameter empty, default is 5
d0.head(10)

# You can also preview the last 10 rows with: d0.tail()

,v_nm,v_id,host,geoloc,cdate,seq
0,KU501216,103344,Human,Guatemala,2015-12-01,----------------------------------------------...
1,KX262887,103451,Human,Honduras,2016-01-06,-----gttgttgatctgtgtgaatcagactgcgacagttcgagttt...
2,MF073359,15098,Human,Brazil,2015-03-01,----agttgttgatctgtgtgaatcagactgcgacagttcgagttt...
3,MF073358,15261,Human,Brazil,2015-06-01,----agttgttgatctgtgtgaatcagactgcgacagttcgagttt...
4,MF073357,16288,Human,Brazil,2016-02-01,----agttgttgatctgtgtgaatcagactgcgacagttcgagttt...
5,KU758877,17271,Human,French_Guiana,2015-12,----------------------------------------------...
6,KR872956,17829,Human,Brazil,2015,----------------gtgtgaatcagactgcgacagttcgagttt...
7,KX447511,1_0015_PF,Human,French_Polynesia,2014-01,----------------------------------------------...
8,KX447520,1_0016_PF,Human,French_Polynesia,2014-01,---------------------------actgcgacagttcgagttt...
9,KX447515,1_0030_PF,Human,French_Polynesia,2013-11,----------------------------------------------...

In [5]:
# Read one column, say, 'seq', into a list:
seq_ls = list(d0["seq"])

In [6]:
# Or select multiple columns from d0 using a list of column names as input:
d_temp = d0[["v_nm", "v_id", "cdate"]]
d_temp.head()

       v_nm    v_id       cdate
0  KU501216  103344  2015-12-01
1  KX262887  103451  2016-01-06
2  MF073359   15098  2015-03-01
3  MF073358   15261  2015-06-01
4  MF073357   16288  2016-02-01

You can also view *some* of the dataframe just by entering `d0`. Jupyter will cut off the middle so that your whole screen isn't flooded. Note the number of rows and columns reported all the way at the bottom.

## Data Retrieval
The generic command syntax to select columns, based on the value in a particular column (or columns), is: 

`df.loc[df["column_name"] == <something>]`

To select rows whose column value equals a a particular value which can be a string, integer, or whatever:

`df.loc[df['column_name'] == some_value]`

To select rows whose column value is in an iterable, `values_list`, use `isin`:

`df.loc[df['column_name'].isin(values_list)]`

Combine multiple conditions with `&`. Place parentheses ( ) around each condition:

`df.loc[(df['column_name'] == some_value) & df['other_column'].isin(values_list)]`

To select rows whose column value does not equal some_value, use `!=`:

`df.loc[df['column_name'] != some_value]`

isin returns a boolean Series, so to select rows whose value is not in `values_list`, negate the boolean Series using ~:

`df.loc[~df['column_name'].isin(values_list)]`

You'll usually have to daisy-chain these in some fashion to get your data. The following cell shows some worked examples, which will generate a new dataframe, d1. We overwrite d1 over and over again, so feel free to break the cell below into multiple cells if you want play around and use `d1.shape`, and so on.

In [15]:
# Select only the records from GISAID, and assign it to another dataframe, called d1
#d1 = d0.loc[d0["data_source"] == "GISAID"]

# Select only records from Brazil and French Polynesia
countries = ["Brazil", "French_Polynesia"]
d1 = d0.loc[d0["geoloc"].isin(countries)]

# A very common operation: what if I want to extract just the year?
# the `cdate` column is a string in yyyy-mm-dd, yyyy-mm, or just yyyy format. 
# so I form a new 'cyear` column by extracting the first four characters of `cdate`
d0["cyear"] = d0.apply(lambda row: str(row["cdate"])[:4], axis=1)
# `cyear` has been created, but it's now a string
# convert to numeric:
d0["cyear"] = pd.to_numeric(d0["cyear"])

# Select by multiple conditions: say, records from Brazil and SG, in 2015
d1 = d0.loc[(d0["geoloc"].isin(["Brazil", "Singapore"])) & (d0["cyear"]==2015)]
d1.head()

,v_nm,v_id,host,geoloc,cdate,seq,cyear
2,MF073359,15098,Human,Brazil,2015-03-01,----agttgttgatctgtgtgaatcagactgcgacagttcgagttt...,2015
3,MF073358,15261,Human,Brazil,2015-06-01,----agttgttgatctgtgtgaatcagactgcgacagttcgagttt...,2015
6,KR872956,17829,Human,Brazil,2015,----------------gtgtgaatcagactgcgacagttcgagttt...,2015
23,KX197205,9,Human,Brazil,2015-12-01,-------------tctgtgtgaatcagactgcgacagttcgagttt...,2015
37,KX101066,Bahia01,Human,Brazil,2015-05,----------------------------------------------...,2015

## Other useful Commands

In [ ]:
# How to see the sizes of different partitions of data, say, by collection year?
d0.groupby(["cyear"]).size()

In [ ]:
# For multiple levels of grouping, say, by continent, then country:
d1 = d0.groupby(["geoloc", "cyear"]).size()
# Set to a dataframe, and reset the index
d1 = d1.reset_index()
# Give d1 some nice column headers
d1.columns=["country", "collection_year", "counts"]

# preview
d1.head(15)

In [ ]:
# Note that if d1 is too big, only the top and bottom bits will be shown in Jupyter. 
# To get around this, increase the maximum number of rows printed out to, say, 500:
pd.set_option('display.max_rows', 500)
# Other options of this sort:
# pd.set_option('display.height', 1000)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

In [ ]:
# How to subsample? Select 200 records at random, without replacement:
d_sample = d0.sample(n=200, replace=False)

# Or select a percentage, like 20%:
d_sample = d0.sample(frac=0.2, replace=False)

In [ ]:
# Write d_sample to a csv:
d_sample.to_csv(path0+"d_sample.csv", index=False)